<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IQT</title>
     <link rel = "icon" type = "image/png" href = "logo.png" />
        <style src="../public/st.css">  </style>
</head>
<body>
        <%- include navbar %>
    <center>
        <table  style="width:26% ;height: 50%; text-align: center" >
    <% let i=0%>
<tr >  <th>RANK</th>  <th>USERNAME</th>  <th>SCORE</th>  </tr>

    <% for(i=0;i< len;i++){%>
        <tr>
        <% if(alluser[i].user == user1){ %>
            <td style="font-size: 26px ;font-family:blod "> <%= i+1 %></td>     <td style="font-size: 30px ;font-family:blod "><%= alluser[i].user %></td>     <td style="font-size: 26px ;font-family:blod "><%= alluser[i].score %></td>

            <% }else{ %>
            <td>  <%= i+1 %></td>    <td>  <%= alluser[i].user %> </td>    <td> <%= alluser[i].score %></td>
        <%}%>
       </tr>
    <%}%>
<br>
</table>
</center>
</body>
</html>